body, html {
    height: 100%;
  }
  
#background-announcement {
	background-image: url('/static/images/DefaultBackground.jpg'); 
	background-repeat: no;
	background-position: center top;
	background-attachment: fixed;
}
  
.foreground-announcement {
    background-image: url('/static/images/DefaultForeground.png');
    background-position: center top;
    background-size: cover;
    height: 2000px;
}
  