body, html {
    height: 100%;
  }
  
#background-announcement {
	background-image: url('../../static/images/DefaultBackground.jpg'); 
	background-repeat: no;
	background-position: center top;
    background-attachment: fixed;
    z-index: -1;
}
  
.foreground-announcement {
    background-image: url('../../static/images/DefaultForeground.png');
    background-position: center top;
    background-size: cover;
    height: 2000px;
    z-index: 4;
}

#ancmt-heading {
    position: fixed;
    z-index: 1;
}

@media(max-width: 600px) {
    #ancmt-heading {
        font-size: 1.5rem !important;
    }
}

.ancmnt-card {
    border-radius: 20px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
  